@import "bourbon"
@import "vars.sass"


*::-webkit-scrollbar
  width: 0.4em
  height: 0.5em

*::-webkit-scrollbar-thumb
  background: #666666
  border-radius: 20px

*::-webkit-scrollbar-track
  background: #fff


*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

//Custom Styles Here

h1,
h2,
h3,
h4,
h5,
h6
  margin: 0 

//ALWAYS END
@import "media"

html, body
  font-family: 'Roboto', 'Helvetica', sans-serif
  overflow-y: hidden;

//Style for progress bar 	

// .space-progress
// 	width: 100%
// 	animation-name: displayNone 
// 	animation-delay: 3s 

// .mdl-progress>.bar
// 	animation-name: progressLoad 
// 	animation-duration: 3s

// @keyframes progressLoad
// 	0%
// 		width: 0%
// 	70%
// 		width: 100%
// 	100%
// 		display: none
	

.mdl-progress>.progressbar
	background: #53B14F

.mdl-layout
  overflow-y: hidden !important

.mdl-layout__drawer
	width: 350px
	transform: translateX(-350px);

.demo-avatar
  width: 48px
  height: 48px
  border-radius: 24px

.demo-layout .mdl-layout__header .mdl-layout__drawer-button
  color: rgba(0, 0, 0, 0.54)

.mdl-layout__drawer .avatar
  margin-bottom: 16px

#draw
  border: 2px solid #4C8EFA

.demo-drawer
  border: none
  .mdl-menu__container
    z-index: -1
  .demo-navigation
    z-index: -2
  .mdl-menu .mdl-menu__item
    display: flex
    align-items: center

.mdl-layout__drawer-button
	border-radius: 50%
	outline: 0
	transition: 0.22s
	&:hover
		background: #37474F
		color: #F5F5F5 !important
/* iOS Safari specific workaround

/* END iOS Safari specific workaround

.demo-drawer-header
  box-sizing: border-box
  display: flex
  flex-direction: column
  justify-content: flex-end
  padding: 16px
  height: 151px

.demo-avatar-dropdown
  display: flex
  position: relative
  flex-direction: row
  align-items: center
  width: 100%

.demo-navigation
  flex-grow: 1

.demo-layout .demo-navigation .mdl-navigation__link
  display: flex !important
  flex-direction: row
  align-items: center
  color: rgba(255, 255, 255, 0.56)
  font-weight: 500
  &:hover
    background-color: #00BCD4
    color: #37474F

.demo-navigation .mdl-navigation__link .material-icons
  font-size: 24px
  color: rgba(255, 255, 255, 0.56)
  margin-right: 32px

.demo-card-wide
  &.mdl-card
    width: 512px
  >
    .mdl-card__title
      color: #fff
      height: 176px
      background: url('https://getmdl.io/assets/demos/welcome_card.jpg') (center / cover)
    .mdl-card__menu
      color: #fff

.demo-card-wide
  &.mdl-card
    width: 100%
  >
    .mdl-card__title
      color: #fff
      height: 176px
      background: url('https://getmdl.io/assets/demos/welcome_card.jpg') (center / cover)
    .mdl-card__menu
      color: #fff      

.mdl-dialog
  width: 480px

.main-canvas__zone
  height: 100vh

.bottom-toolbar
  background: #F5F5F5
  min-height: 64px
  padding: 0px 30px;
  display: flex
  justify-content: space-between
  align-items: center
  &__color
    display: flex
    flex-direction: column
    align-items: center
    input[type="color"]
      border: none
      background: transparent
      border-radius: 50%
      height: 35px
      outline: 0
  &__mode
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    h6
      font-size: 14px
    .mdl-switch
      width: 0
  &__bgColor
    display: flex
    flex-direction: column
    align-items: center
    input[type="color"]
      border: none
      background: transparent
      border-radius: 50%
      height: 35px
      outline: 0